apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: shopping-demo
  name: api-gateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: shopping-demo
      component: gateway
  template:
    metadata:
      labels:
        app: shopping-demo
        component: gateway
    spec:
      containers:
      - image: docker.io/denniseffing/gateway:istio-demo
        imagePullPolicy: Always
        name: gateway
        ports:
        - containerPort: 8080
        env:
          - name: REST_ENDPOINT_FASHION
            value: http://fashion:8082/fashion/bestseller
          - name: REST_ENDPOINT_TOYS
            value: http://toys:8081/toys/bestseller
          - name: REST_ENDPOINT_HOTDEALS
            value: http://hotdeals:8083/hotdeals
      restartPolicy: Always
