apiVersion: v1
kind: Service
metadata:
  namespace: shopping-demo
  name: gateway
spec:
  ports:
  - name: "http"
    port: 8080
    targetPort: 8080
  selector:
    app: shopping-demo
    component: gateway